<p>
    <mat-toolbar>
      <button mat-icon-button class="menu-icon" aria-label="menu icon">
          <mat-icon fontIcon="menu" class="matNavMenu" color="primary">Menu</mat-icon>
      </button>
      <section class="mat-typography">
      <span class="welcomeText"><h1>Welcome to our Store!</h1></span>
    </section>
    </mat-toolbar>
  </p>

  
  
      <mat-nav-list>
        <a mat-list-item routerLink="/dashboard" routerLinkActive="active-link"> Management Dashboard </a>
        <a mat-list-item routerLink="/create-product" routerLinkActive="active-link"> Create a New Product </a>
      </mat-nav-list>


    



  <router-outlet> </router-outlet>

  