html
{ 
 height: 100%;   
 background: url(src/assets/skylinebg-1080.jpg) no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
 background-size: cover;

 max-width: 100%;
  
      
}



body { 
    height: 100%;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}


.mat-toolbar-row, .mat-toolbar-single-row {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    }